{% extends "blog/base.html" %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h2 class="text-dark my-5">About Us</h2>

   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae eum reprehenderit soluta quibusdam numquam? Nisi quis dicta optio consequatur suscipit expedita ullam repellat harum atque aliquam mollitia dolorum cum nobis aliquid eveniet voluptatem rem non vitae a, beatae distinctio et necessitatibus libero animi. Optio velit, id ex accusamus ipsam nesciunt?</p>

   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, ipsam a mollitia voluptatibus illum odit nemo praesentium libero facere ex molestias quidem? Impedit, ab veritatis voluptatum suscipit vel nobis culpa.</p>


</div>

{% endblock content %}